$lucy-shamrock:#457a7c;
$tropical-splash:#6eced7;
$icy-morn:#afd2d3;
$peachy-dust:#debdb3;
$first-date:#f4b09e;
$pale-beach:#d8c5aa;
$white: #f6f6f6;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;
